<script>
    let lastId = 0;

    const fetchArticles = lastId => fetch("listMore?lastId=" + lastId).then(response => response.json());

    const showAlertOnLastPage = rs => {
        if (rs.resultCode === 'S-2') {
            alert("마지막 페이지입니다.");
            throw new Error("End of pages");
        }
        return rs;
    }

    const generateHTML = articles =>
        articles.map(article =>
            `<tr>
                <td>${article.id}</td>
                <td>${article.title}</td>
            </tr>`
        ).join('');

    const appendToTable = html => document.querySelector(".list-tbody").insertAdjacentHTML('beforeend', html);

    function loadMore() {
        fetchArticles(lastId)
            .then(showAlertOnLastPage)
            .then(rs => {
                const html = generateHTML(rs.data);
                appendToTable(html);
                lastId = rs.lastId;
            })
            .catch(error => {
                // Handle error if needed
            });
    }
</script>

<div>
    <h1>Article List</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody class="list-tbody">

        </tbody>
    </table>
    <script>
        loadMore();
    </script>
    <div>
        <button onclick="loadMore();">더 보기</button>
    </div>
</div>